<div class="room">
    <h1>How does the room feel?</h1>
    <ul class="questions">
        <li routerLink="where">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Hot/Cold
        </li>
        <li routerLink="where">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Too Smelly
        </li>
        <li routerLink="where">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Not enough <br>fresh air
        </li>
        <li routerLink="where">
            <mat-icon aria-hidden="false" aria-label="Example home icon">whatshot</mat-icon>
            Too sweaty
        </li>
        <li routerLink="where">
            <mat-icon aria-hidden="false" aria-label="Example home icon">ac_unit</mat-icon>
            Freezing
        </li>
        <li routerLink="where">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Too windy
        </li>
        <li routerLink="where">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Humid/Dry
        </li>
    </ul>
</div>