:host {
    width: 100%;
    text-align: center;
}

.questions {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
}

h1 {
    font-weight: 300;
}

.questions li {
    background-color: rgba(255, 255, 255, 0.15);
    text-align: center;
    padding: 20px 0;
    border-radius: 14px;
    font-size: 14px;
    width: 100%;
    font-weight: 300;
}

.questions li:not(:last-of-type) {
    margin-bottom: 15px;
}