<h1>Someone thinks the room is</h1>
<div class="voting">
    <ul class="feeling-list">
        <li routerLink="/humidity" class="selected">
            <mat-icon aria-hidden="false" aria-label="Example home icon">local_fire_department</mat-icon>
            Hot/Cold
        </li>
        <li routerLink="/humidity">
            <mat-icon aria-hidden="false" aria-label="Example home icon">dry</mat-icon>
            Too Smelly
        </li>
    </ul>
    <ul class="pagination">
        <li class="active">1</li>
        <li>2</li>
        <li>3</li>
    </ul>
</div>
<div class="confirm-selection">
    <input type="range" value="50" class="pullee" />
    <div class="disagree"><span>Disagree</span></div>
    <div class="agree"><span>Agree</span></div>
</div>