button{
    position: relative;
    display: block;
    border-radius: 30px;
    height: 50px;
}

.selected{
    background-color: #0575E6;
    color: white;
}

.circle{
    width: 20px;
    height: 20px;
    position: absolute;
    color: white;
    top: 0;
    font-size: 13px;
    line-height: 20px;
    z-index: 1;
    background-color: #021b79;
    border-radius: 100%;
}