.app {
    height: 100vh;
    background: linear-gradient(180deg, rgb(5, 117, 230) 0%, rgb(2, 27, 121) 100%);
    margin-top: -1px;
    padding-top: 1px;
    /*required to avoid margin collapse*/
    color: white;
    position: relative;
    overflow: hidden;
}

.app.special {
    background: white;
    color: #021b79;
}

.app-container {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
}

.app-content {
    height: calc(100% - 53px);
}


/* Header */

header {
    padding-top: 23px;
    font-size: 20px;
    font-weight: 300;
    position: fixed;
}


/* Navigation */

nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 30px 0;
    left: 0;
}

.zone {
    background-color: #2f88e6;
    color: #FFF;
    padding: 5px 8px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    position: fixed;
    right: 0;
    text-align: left;
    top: 15px;
}

.zone mat-icon {
    margin-left: 5px;
    font-size: 18px;
    display: inline;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 8px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

nav ul li {
    display: inline-block;
    text-align: center;
}

.zone {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px 0 0 20px;
    padding: 7px 15px;
    color: white;
    border: none;
    font-size: 0.9em;
}
